{{ form_start(form) }}
<div class="form_frame">
    <h4>Submit Your Image</h4>
    <div class="form_row">
        <span class="form_field_label">{{ form_label(form.title) }}</span>
        <span class="form_field">{{ form_widget(form.title) }}</span>
    </div>
    <div class="form_row">
        <span class="form_field_label">{{ form_label(form.file_name) }}</span>
        <span class="form_field">{{ form_widget(form.file_name) }}</span>
    </div>
    <div class="form_buttons_row">{{ form_widget(form.submit) }}{{ form_widget(form.cancel) }}</div>
</div>
{{ form_end(form) }}
