{# @formatter:off #}
<div class="gallery-item-masonry masonry-150">\
    <div class="gallery-item-content">\
        <figure class="gallery-item-content-images">\
            <a href="{{ image.url_large }}" rel="gallery-0" title="{{ image.title|escape }}">\
                <img alt="{{ image.caption.title|trim|escape }}" src="{{ image.url_thumb }}" width="{{ image.dimensions.width }}" height="{{ image.dimensions.height }}">\
            </a>\
            <figcaption class="wp-caption-text showcase-caption">{{ image.caption.title|trim|escape }}<br>\
                <span class="wp-caption-credit">Photo: {{ image.caption.credit|trim|escape }}</span>\
            </figcaption>\
        </figure>\
    </div>\
</div>