<figure class="gallery-item">
    <div class="gallery-item-content">
        <div class="gallery-item-content-image"><a href="{{ image.url_800 }}" rel="gallery-0" title="{{ image.title }}">
                <img src="{{ image.url_150 }}">
            </a>
        </div>
        <figcaption class="wp-caption-text showcase-caption">{{ image.caption_title }}<br><span class="wp-caption-credit">Credit: {{ image.caption_credit }}</span></figcaption>
    </div>
</figure>