<script>
    /* push in config for this share instance */
    rps_shareconfig.push({
        "id": "{{ id }}",
        "url": "{{ url|escape('js') }}",
        "title": "{{ title|escape('js') }}"
    });
</script>
<div id="{{ id }}" class="share">
    <ul class="rps-share-buttons">
        <li class="share-icon"><i class="fa fa-share-alt"></i></li>
        {% for key,value in networks %}
            {% if key != 'email' %}
                <li class="share-{{ key }}">
                    <a class="social-button" onclick="rpssocial.share.click('{{ id }}', '{{ key }}');" href="javascript:void(0);">
                        <i class="fa fa-{{ value.icon }}"></i>
                        <span class="text">{{ value.text }}</span>
                    </a>
                </li>
            {% else %}
                <li class="share-{{ key }}">
                    <a class="social-button" href="mailto:?subject={{ title }}&body={{ title }}: {{ url }}">
                        <i class="fa fa-{{ value.icon }}"></i>
                        <span class="text">{{ value.text }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>